<h1>课程表</h1>
<table>
    <thead>
        <tr>
            {% for column in Courses.0.keys %}  <!-- 动态获取列名 -->
                <th>{{ column }}</th>
            {% endfor %}
        </tr>
    </thead>
    <tbody>
        {% for Course in Courses %}
            <tr>
                {% for value in Course.values %}
                    <td>{{ value }}</td>  <!-- 输出每一列的值 -->
                {% endfor %}
            </tr>
        {% empty %}
            <tr>
                <td colspan="2">No Courses available.</td>
            </tr>
        {% endfor %}
    </tbody>
</table>
