<section id="items">
  {{#items}}
  <div class="item {{class}}" data-tag="{{tag}}" {{#hasPopup}}data-popupid="{{popupId}}"{{/hasPopup}}>
    <img src="{{image}}" alt="{{name}}">
    <div>
      <p><span class="bst">名称：</span><span class="st">{{name}}</span></p>
      <p><span class="bst">获取：</span><span class="st">{{source}}</span></p>
      <p><span class="bst">详细：</span><span class="st">{{details}}</span></p>

      {{#hasPopup}}
      <button class="popup-button" data-popupid="{{popupId}}">查看图解</button>
      {{/hasPopup}}
    </div>
  </div>
  {{/items}}
</section>

<section id="popup-container">
  {{#popupDetails}}
  <div id="global-popup-{{popupId}}" class="popup-overlay hidden" data-popupid="{{popupId}}">
    <div class="popup">
      <span class="popup-close" data-popupid="{{popupId}}">×</span>

      {{#imagesAndTexts}}
      <div class="popup-row">
        <img src="{{image}}" alt="弹窗图片">
        <div class="popup-content">
          <p>{{text}}</p>
        </div>
      </div>
      {{/imagesAndTexts}}

    </div>
  </div>
  {{/popupDetails}}
</section>
